<?xml version="1.0"?>

<launch>
    
    <node pkg="nodelet" type="nodelet" name="zed_nodelet_manager"  args="manager"/>

    <node pkg="nodelet" type="nodelet" name="mbz_vessel_det" args="load mbz_vessel_det/DetectionNodelet zed_nodelet_manager" output="screen">
    <rosparam file="$(find mbz_vessel_det)/params/default.yaml" command="load" />
    </node>

</launch>
